*{
    box-sizing: border-box;
}
body{
    font-family: 'Exo 2', sans-serif;
    color: #131212;
    overflow-x: hidden;
    color: #000;
    font-size: 14px;
    background: #f8f8f8;
}

h1, h2, h3, h4, h5, h6, p{
    padding: 0;
    margin: 0;
}
ul, li{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
a:hover{
    text-decoration: none;
}
button{
    padding: 0;
    margin: 0;
}
button:focus,
input:focus,
select:focus{
    outline: none;
}
:focus{
    outline: none;
}

.btn-blue{
    border: none;
    background: #0070c4;
    color: #fff;
    cursor: pointer;
}
.btn-red{
    border: none;
    background: #ff0000;
    color: #fff;
    cursor: pointer;
}
.btn-border-gray{
    border: 1px solid #e0e0e0;
    background: transparent;
}

/*section header*/
.index .header{
    background: url(../img/banner.jpg) no-repeat center center;
    background-size: cover;
    height: 630px;
}
.catalog .header{
    background: url(../img/banner-2.jpg) no-repeat center center;
    background-size: cover;
    height: 630px;
}
.index .header .top-menu,
.index .header .change-language span,
.catalog .header .top-menu,
.catalog .header .change-language span{
    color: #fff;
}
.index .header .change-language__active,
.catalog .header .change-language__active  {
    background: #265a6f;
}
.header{
    position: relative;
}

.top-menu{
    color: #fff;
    font-size: 13px;
    height: 54px;
}

.top-menu li{
    height: inherit;
}

.top-menu li a{
    color: inherit;
    padding: 0 13px;
    display: inline-block;
    height: inherit;
    line-height: 54px;
}

.top-menu li a:hover{
    text-decoration: none;
}

.change-language{
    height: 54px;
}

.change-language span{
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    padding: 5px;
    cursor: pointer;
}
.change-language span:last-of-type{
    margin-right: 40px;
    margin-left: 5px;
}
.change-language__active{
    background: #d8d9da;
}

.top-header{
    background: #fff;
    width: 100%;
    height: 160px;
    font-size: 14px;
    padding-top: 30px;
}

.top-header .logo{
    width: 115px;
    height: auto;
    display: block;
    margin-left: 55px;
}
.top-header .logo img{
    width: 100%;
}
.top-header p{
    color: #8f8f8f;
    font-size: 13px;
}
.top-header__contacts{
    margin-left: 100px;
}

.top-header__contacts_address,
.top-header__contacts_work,
.top-header__contacts_phone{
    position: relative;
}
.top-header__contacts_address img,
.top-header__contacts_work img,
.top-header__contacts_phone img{
    width: 14px;
    margin-right: 5px;
    position: absolute;
    left: -20px;
    top: 4px;
}
.top-header__contacts_address a,
.top-header__contacts_phone a{
    display: block;
    color: #ff0000;
    font-size: 13px;
    display: inline-block;
    border-bottom: 1px dashed;
}
.top-header__contacts_phone a{
    width: 83%;
}
.top-header__contacts_address a{
    width: 68%;
}
.top-header__contacts_phone{
    margin-right: 65px;
}
/*modal*/
.top-header__contacts_phone .modal-content{
    border-radius: 0;
    border: 10px solid #0070c4;
}
.top-header__contacts_phone .modal-content .wrapper-modal{
    padding: 30px 80px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}
.top-header__contacts_phone .modal-content .wrapper-modal h3{
    font-size: 23px;
    padding-bottom: 10px;
}
.top-header__contacts_phone .modal-content .wrapper-modal p:first-of-type{
    color: #000;
    padding-bottom: 25px;
}
.top-header__contacts_phone .modal-content .wrapper-modal p:last-of-type{
    font-weight: 300;
    font-size: 12px;
}
.top-header__contacts_phone .modal-content .wrapper-modal a{
    color: #000;
    display: inline;
}
.top-header__contacts_phone .modal-content .wrapper-modal input{
    width: 100%;
    margin-bottom: 20px;
    height: 45px;
    border: 1px solid #e6e6e6;
    box-shadow: inset 1px 1px 3px rgba(154, 147, 140, 0.5);
    padding-left: 15px;
}
.top-header__contacts_phone .modal-content .wrapper-modal input[type="text"]::placeholder{
    color:#ccc;
}
.top-header__contacts_phone .modal-content .wrapper-modal button{
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
}

.menu-group-btn,
.search,
.social-btn-icon{
    height: 60px;
    margin-top: 28px;
    width: 100%;
    border-top: 1px solid #e0e0e0;
}
.menu-btn-catalog, .menu-btn-services{
    height: inherit;
    position: relative;
}
.menu-btn-catalog{
    width: 55%;
}
button.menu-btn-services{
    background: transparent;
    border: none;
    width: 45%;
}
.menu-catalog,
.menu-services{
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    font-size: 15px;
    display: none;
    z-index: 10;
}
/* .menu-btn-catalog:hover .menu-catalog,
.menu-btn-services:hover .menu-services{
    display: block;
} */
.menu-catalog li,
.menu-services li{
    border-bottom: 1px solid #e0e0e0;
    height: 60px;
    padding: 0 14px;
    display: flex;
    align-items: center;
    text-align: left;
    background: #fff;
    transition: 0.6s;
}
.menu-catalog li:last-of-type,
.menu-services li:last-of-type{
    border-bottom: none;
}
.menu-services li:first-of-type{
    border-top: 1px solid #e0e0e0;
}
/* .menu-services li{
    background: #fff;
    border-botton: 1px solid #e0e0e0;
    position: relative;
} */
.menu-catalog li:hover{
    background: #e0e0e0;
}
.menu-services li:hover{
    background: #ff0000;
}
.menu-catalog li a,
.menu-services li a{
    color: #000;
}
.menu-catalog li a:hover{
    text-decoration: none;
}
.menu-services li a:hover{
    text-decoration: none;
    color: #fff;
}
/* .sub-menu-services{
    position: absolute;
    left: 100%;
    top: -1px;
    min-width: 180px;
    display: none;
}
.menu-btn-services li:hover .sub-menu-services{
    display: block;
} */
.search{
    border: 1px solid #e0e0e0;
    border-bottom: none;
    padding-left: 45px;
    position: relative;
}
input.search[type="search"]::placeholder,
input.form-application__input[type="text"]::placeholder{
    color: #ccc;
}
.search-icon{
    position: absolute;
    bottom: 19px;
    left: 20px;
    width: 18px;
}
.social-btn-icon img{
    width: 34px;
    margin: 0 8px;
}

.title-header{
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    margin-top: 70px;
}
.desc-header{
    color: #fff;
    text-align: center;
    font-size: 16px;
    margin: 15px;
}
/*calculator*/
.calculator{
    /* position: absolute; */
    width: 970px;
    height: 230px;
    /* bottom: -115px;
    left: 50%;
    margin-left: -485px; */
    border: 10px solid #0070c4;
    background: #fff;
    padding: 30px 0;
    text-align: center;
    margin: auto;
    margin-top: -110px;
}
.calculator .calculator__title{
    font-size: 23px;
    font-weight: 400;
    display: inline-block;
    width: 65%;
}
.calculator .sizes,
.calculator .thickness,
.calculator .materials{
    width: 200px;
    margin-right: 15px;
    text-align: center;
    font-size: 14px;
    margin-top: 30px;
}
.calculator .sizes h6,
.calculator .thickness h6,
.calculator .materials h6{
     font-weight: 400;
}
.calculator .sizes select,
.calculator .thickness select,
.calculator .materials select{
    width: 100%;
    height: 40px;
    margin-top: 5px;
    padding: 0 20px;
    color: #8f8f8f;
}
.calculator .calculator-btn{
    width: 125px;
    height: 40px;
    transition: 0.5s;
}
.calculator a.calculator-btn:hover{
    color: #fff;
    opacity: 0.8;
}


/* section goods */
.goods,
.catalog-section{
    padding-top: 45px;
    padding-bottom: 80px;
    position: relative;
}
.goods-title{
    font-size: 33px;
    margin-bottom: 45px;
    text-align: center;
}
.goods-card{
    width: 100%;
    background: #fff;
    padding: 25px;
    font-size: 14px;
    position: relative;
    margin-bottom: 35px;
}
.goods-card .goods-catds__sale{
    position: absolute;
    top: 11px;
    left: -15px;
    width: 85px;
    height: 25px;
    background: #0070c4;
    text-align: center;
}
.goods-card .goods-catds__sale span{
    font-size: 13px;
    color: #fff;
    line-height: normal;
}
.goods-card .goods-card__img{
    width: 100%;
    height: 200px;
}
.goods-card .goods-card__img img{
    max-width: 100%;
    max-height: 100%;
}
.goods-card .goods-card__title{
    font-size: 16px;
    padding: 14px 0;
}
.goods-card .goods-card__stars{
    color: #0070c4; 
    padding-bottom: 15px;
}
.goods-card .goods-card__price span{
    font-size: 21px;
    font-weight: 600;
}
.goods-card .goods-card__price img{
   width: 30px;
   height: 30px;
   margin-right: 40px;
}
.goods-card__desc{
    position: absolute;
    bottom: -110px;
    left: 0;
    background: #fff;
    transform: translateY(-30%);
    transition: 0.5s;
    opacity: 0;
}
.goods-card:hover .goods-card__desc{
    transform: translateY(0);
    opacity: 1;
    z-index: 10;
}
.goods-card .goods-card__desc p{
    font-weight: 300;
    color: #adadad;
    padding: 0 25px;
}
.goods-card .goods-card__desc a{
    width: 100%;
    display: inline-block;
    height: 45px;
    background: #ff0000;
    text-align: center;
    color: #fff;
    font-weight: 600;
    margin-top: 25px;
    transition: 0.5s;
}
.goods-card .goods-card__desc a:hover{
    text-decoration: none;
    opacity: 0.8;
}
.goods-button{
    width: 205px;
    height: 45px;
    margin: auto;
    margin-top: 25px;
    transition: 0.7s;
}
a.goods-button:hover{
    text-decoration: none;
    color: #fff;
    opacity: 0.8;
}

/*section form-application*/
.form-application{
    background: url(../img/banner-form-application.jpg) no-repeat center center;
    background-size: cover;
    /* height: 230px; */
    padding: 55px 0;
    margin-bottom: 60px;
    color: #fff;
    line-height: 30px;
}
.form-application__title{
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
}
.form-application__desc{
    font-size: 16px;
}
.form-application form{
    width: 372px;
    margin: 0 auto;
}
.form-application__input,
.form-application__btn{
    width: 100%;
    height: 40px;
    margin: 9px 0;
}
input.form-application__input{
    padding-left: 20px;
}


/*section about-company*/
.about-company .about-company__title,
.news .news__title{
    font-size: 33px;
    font-weight: 400;
    padding-bottom: 30px;
}
.about-company .about-company__desc{
    font-size: 16px;
    padding-bottom: 55px;
}

.about-company .abuot-company__icon-gruop .abuot-company__icon{
    width: 100%;
    margin-right: 45px;
    text-align: center;
    margin-bottom: 40px;
}
.about-company .abuot-company__icon-gruop .abuot-company__icon img{
    width: 60px;
}
.about-company .abuot-company__icon-gruop .abuot-company__icon span{
    font-weight: 600;
    font-size: 14px;
    padding-top: 15px;
}

.about-company .about-company__btn,
.news .news__btn{
    width: 150px;
    height: 45px;
    margin-bottom: 70px;
    transition: 0.5s
}
.about-company a.about-company__btn:hover,
.news a.news__btn:hover{
    color: #fff;
    opacity: 0.8;
}

.news .news-block {
    margin-bottom: 22px;
}
.news .news-block img{
    width: 105px;
    height: 85px;
}

.news .news-block .news-block__desc{
    padding-left: 20px;
}
.news .news-block .news-block__desc a{
    font-size: 14px;
}
.news .news-block .news-block__desc a:hover{
    text-decoration: none;
}

.news .news-block .news-block__desc time{
    display: block;
    padding-top: 13px;
    color: #818181;
    font-size: 16px;
}
.news .news__btn{
    margin-top: 40px;
}

/*section footer*/

.footer{
    background: #141518;
    padding: 50px 0 30px 0;
    color: #fff;
    position: relative;
}
.footer::after{
    content: '';
    width: 100%;
    height: 1px;
    background: #404040;
    position: absolute;
    bottom: 70px;
}

.footer .logo img{
    width: 115px;
    margin-bottom: 15px;
}
.footer .footer-desc{
    color: #adadad;
    font-size: 14px;
}
.footer .social-btn-icon{
    border: none;
    margin-bottom: 65px;
}

.footer .footer-content h5{
    font-weight: 700;
    font-size: 14px;
    padding-bottom: 18px;
    text-transform: uppercase;
}
.footer .footer-content .footer-menu li a{
    color: #fff;
    line-height: 25px;
}
.footer .footer-content .footer-menu li a:hover{
    text-decoration: underline;
}
.footer .footer-content .footer__contacts .footer__contacts_address,
.footer .footer-content .footer__contacts .footer__contacts_work,
.footer .footer-content .footer__contacts .footer__contacts_phone{
    position: relative;
    padding-left: 20px;
    padding-bottom: 20px;
}
.footer .footer-content .footer__contacts .footer__contacts_address img,
.footer .footer-content .footer__contacts .footer__contacts_work img,
.footer .footer-content .footer__contacts .footer__contacts_phone img{
    width: 15px;
    position: absolute;
    top: 5px;
    left: 0;
}
.footer .footer-content .footer__contacts .footer__contacts_address a,
.footer .footer-content .footer__contacts .footer__contacts_phone a{
    color: #ff0000;
    display: inline-block;
    border-bottom: 1px dashed;
    width: 75%;
}

.privacy-rights__author{
    color: #adadad;
}
.privacy-rights__author p:first-child{
   display: inline-block;
   border-bottom: 1px dashed;
}
.privacy-rights__author a{
    display: inline-block;
    border-bottom: 1px dashed;
    color: #adadad;
}

/*section thank-you*/
.thank-you{
    padding: 60px 0 30px;
}
.thank-you__title{
    font-size: 33px;
    font-weight: 400;
    padding-bottom: 15px;
}
.thank-you__text{
    font-size: 16px;
    padding-bottom: 35px;
}
.thank-you-link{
    width: 185px;
    height: 50px;
    transition: 0.5s;
}
a.thank-you-link:hover{
    color: #fff;
    opacity: 0.7;
}

/*catalog*/
.banner-catalog-prod{
    width: 100%;
    background: url(../img/banner-catalog-tov.jpg) no-repeat center center;
    background-size: cover;
    padding: 65px 60px 48px 60px;
    color: #fff;
    margin-bottom: 35px;
}
.banner-catalog-prod h3{
    font-size: 33px;
    font-weight: 600;
    padding-bottom: 15px;
}
.banner-catalog-prod p{
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 35px;
}
.banner-catalog-prod a{
    width: 150px;
    height: 50px;
}
.banner-catalog-prod a:hover{
    color: #fff;
}
.filter {
    background: #dfe0e0;
    height: 50px;
    width: 100%;
    font-size: 15px;
    cursor: pointer;
}
.filter img{
    width: 16px;
    margin-right: 5px;
}
.filter-category{
    margin-bottom: 20px;
}
.filter-category li{
    width: 100%;
    height: 50px;
    background: #fff;
}
.filter-category a{
    width: 100%;
    height: 50px;
    display: inline-block;
    padding-left: 40px;
    line-height: 50px;
    color: #000;
    font-size: 15px;
    border: 1px solid #dfe0e0;
    transition: 0.5s;
}
.filter-category a:hover{
    color: #0070c4;
    border-left: 2px solid #0070c4; 
}

/*section cards-product*/
.description-product{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    border-top: 1px solid #d8d9da;
    padding-top: 15px;
    padding-right: 15px;
    margin-bottom: 60px;
}
.description-product span {
    font-weight: 700;
    padding-top: 10px;
    display: inline-block;
}
.description-product ul{
    padding-left: 20px;
}
.description-product ul li{
    list-style-type: disc;
}
@media only screen and (max-width: 1200px){
    .top-header__contacts{
        margin-left: 0;
    }
    .top-header .logo {
        width: 70%;
        margin-left: 25px;
    }
    .top-header p {
        font-size: 11px;
    }
    .calculator {
        width: 900px;
        /* margin-left: -450px; */
    }
    .privacy-rights,
    .privacy-rights__author{
        font-size: 12px;
    }
    .banner-catalog-prod {
        padding: 60px 60px 48px 60px;
    }
}
@media only screen and (max-width: 992px) {
    .container{
         max-width: 100%;
    }
   .form-application__title,
   .form-application__desc{
       padding-left: 35px;
   }
    .calculator {
        width: 90%;
        height: auto;
    }
    .calculator .sizes, .calculator .thickness, .calculator .materials {
        width: 170px;
    }
    .form-application{
        padding: 45px 25px;
    }
    .form-application form {
        max-width: 100%;
    }
    .form-application__title, .form-application__desc {
        padding-left: 0;
    }
    .form-application__title {
        font-size: 20px;
    }
    .form-application__desc {
        font-size: 13px;
    }
    .social-btn-icon img {
        width: 26px;
    }
    .menu-catalog{
        width: 220px;
    }
    .menu-services{
        width: 180px;
    }
    .thank-you__title {
        font-size: 28px;
    }
    .thank-you__text{
        font-size: 14px;
    }
    .filter-category a {
        padding-left: 20px;
    }
    .catalog-section .goods-card .goods-card__price img {
        margin-right: 15px;
    }
}
@media only screen and (max-width: 830px){
    .calculator {
    width: 100%;
    height: auto;
    }
}

@media only screen and (max-width: 768px) {
    .calculator{
        width: 80%;
        height: auto;
        /* left: 10%;
        margin-left: 0; */
        padding: 25px 0;
        /* bottom: -320px; */
    }
    .calculator-wrapper{
        flex-flow: column;
        align-items: center !important;
    }
    .calculator .sizes, .calculator .thickness, .calculator .materials {
        width: 70%;
        margin-right: 0;
        margin-top: 20px;
    }
    .calculator .calculator-btn{
        width: 70%;
        margin-top: 20px;
    }
    .calculator .calculator__title {
        font-size: 20px;
        width: 90%;
    }
    /* .goods,
    .catalog-section {
        padding-top: 370px;
    } */
    .top-header__contacts{
        justify-content: flex-end !important;
    }
    .top-header__contacts_work{
        display: none;
    }
    .top-header__contacts_address{
        margin-right: 40px;
    }
    .about-company .about-company__btn, .news .news__btn {
        width: 50%;
        margin: 0 auto 40px;
    }
}
@media only screen and (max-width: 767px){
    .header .col-12.col-sm-6.col-md-4.col-lg-5.p-0{
        padding-right: 15px !important;
    }
}

@media only screen and (max-width: 576px){
    .top-header__contacts_address, 
    .top-header__contacts_phone a{
        display: none;
    }
    .top-header__contacts_phone span{
        font-size: 18px;
        font-weight: 500;
        display: inline-block !important;
        text-align: center;
    }
    .top-header__contacts_phone img{
        display: none;
    }
    .top-header__contacts_phone{
        margin-right: 0;
        width: 100%;
    }
    .header .col-12.col-sm-6.col-md-4.col-lg-5.p-0{
        padding-left: 15px !important;
    }
    .header .col-12.col-sm-6.col-md-5.col-lg-4.pr-0.order-2{
        padding-right: 15px !important;
    }
    .top-menu{
        display: none;
    }
    .top-header{
        margin-top: 20px;
        height: auto;
    }
    .menu-group-btn{
        margin-top: 0;
    }
    .search-icon {
        left: 7%;
    }
    .search {
        padding-left: 11%;
    }
    .title-header {
        font-size: 30px;
        margin-top: 55px;
    }
    .desc-header {
        font-size: 12px;
    }
    .calculator .calculator-btn {
        margin-bottom: 15px;
    }
    .goods-button{
        width: 100%;
    }
    .form-application__title {
        font-size: 24px;
        width: 76%;
        margin: auto;
    }
    .form-application__desc {
        font-size: 16px;
        width: 76%;
        margin: auto;
    }
    .privacy-rights, .privacy-rights__author {
        font-size: 11px;
        padding: 5px 0;
    }
    .privacy-rights__author{
        flex-flow: column;
    }
    .privacy-rights__author p:first-child {
        width: 36%;
        margin-bottom: 9px;
    }
    .footer::after {
        bottom: 131px;
    }
    .footer__contacts{
        margin-bottom: 25px;
    }
    .menu-catalog {
        width: 100%;
    }
    .menu-services {
        width: 100%;
    }
    .sub-menu-services{
        left: -94%;
    }
    .thank-you-link{
        width: 80%;
        margin: auto;
        margin-bottom: 35px;
    }
    .banner-catalog-prod {
        padding: 10px;
    }
}
@media only screen and (max-width: 500px) {
    .footer-content {
        flex-flow: column;
    }
    .footer__contacts {
        width: 200px;
    }
    .privacy-rights__author p:first-child {
        width: 163px;
    }
    .footer-menu{
        margin-bottom: 20px;
    }
    .footer .social-btn-icon {
        margin-bottom: 20px;
    }
    .footer .footer-content .footer__contacts .footer__contacts_address a, .footer .footer-content .footer__contacts .footer__contacts_phone a {
        width: 68%;
    }
    .about-company .about-company__btn, .news .news__btn {
        width: 100%;
    }
    .form-application__desc,
    .form-application__title{
        width: 100%;
    }
    .calculator .calculator__title {
        font-size: 18px;
        width: 100%;
    }
    .calculator {
        width: 90%;
        left: 5%;
    }
    .goods-title {
        font-size: 25px;
    }
    .title-header {
        font-size: 25px;
        margin-top: 40px;
    }
    .top-header__contacts_phone span {
        font-size: 14px;
    }
    .news .news-block .news-block__desc {
        padding-left: 14px;
    }
    .news .news-block .news-block__desc a {
        font-size: 13px;
    }
    .news .news-block .news-block__desc a::after {
        content: '...';
    }
    .news .news-block .news-block__desc a span{
        display: none;
    }
}
@media only screen and (max-width: 425px) {
    .about-company .about-company__title, .news .news__title {
        font-size: 28px;
    }
    .form-application__title {
        font-size: 22px;
    }
    .form-application__desc {
        font-size: 14px;
    }
    .calculator .calculator__title {
        font-size: 16px;
    }
    .menu-group-btn {
        position: relative;
    }
    .menu-btn-catalog, .menu-btn-services {
        position: static;
    }
    .banner-catalog-prod h3 {
        font-size: 28px;
    }
    .banner-catalog-prod p {
        font-size: 14px;
    }
}
